.slider-wrapper {
    position: relative;
    width: 90%;
    margin:0 auto;
}
.slider-left-arrow ,.slider-right-arrow {
    display: inline-block;
    position: absolute;
    width: 40px;
    top:50%;
    z-index: 100;
    height: 55px;
}

.slider-left-arrow {
    background-image: url("../images/left-arrow.png");
    left: 0px;
}
.slider-right-arrow {
    background-image: url("../images/right-arrov.png");
    right:0px;
}
